<component name="libraryTable">
  <library name="testng">
    <binaries>
      <root url="jar://$PROJECT_DIR$/lib/testng.jar!/" />
    </binaries>
    <sources>
      <root url="zip://$PROJECT_DIR$/lib/src/testng.zip!/src/main/java" />
    </sources>
    <jarDirectory url="zip://$PROJECT_DIR$/lib/src/testng.zip!/src/main/java" recursive="false" type="sources" />
  </library>
</component>