<component name="libraryTable">
  <library name="testng">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/testng.jar!/" />
    </CLASSES>
    <DOCUMENTATION />
    <SOURCES>
      <root url="zip://$PROJECT_DIR$/lib/src/testng.zip!/src/main/java" />
    </SOURCES>
    <jarDirectory url="zip://$PROJECT_DIR$/lib/src/testng.zip!/src/main/java" recursive="false" type="SOURCES" />
  </library>
</component>